{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>    
    </div>
</div>
    <div class="container mt-4">
        <h1 class="text-warning mb-4 border-bottom">Services</h1>
        
        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-1x mb-3 i-color"></i>
                <h5>SEO</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-pen-fancy fa-1x mb-3 i-color"></i>
                <h5>Web Design</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-1x mb-3 i-color"></i>
                <h5>Web Development</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-brands fa-android fa-1x mb-3 i-color"></i>
                <h5>Android</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-apple fa-1x mb-3 i-color"></i>
                <h5>IOS</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-linux fa-1x mb-3 i-color"></i>
                <h5>Linux</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="row text-center text-white mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-pencil fa-1x mb-3 i-color"></i>
                <h5>Logo Design</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-database fa-1x mb-3 i-color"></i>
                <h5>Hosting</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-1x mb-3 i-color"></i>
                <h5>Support</h5>
                <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
{% endblock content %}